*{
    margin: 0;
    padding: 0;
}
.wp-block-post-title {
    display: none;
}

body {
    font-family: Arial, sans-serif;
}

#loginform {
    width: 45%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 70px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input {
    width: 96%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0073e6;
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
}

.button:hover {
    background-color: #0055a4;
}
.error {
    background-color: #ff5050;
    color: #fff;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 10px;
    margin-bottom: 20px;
}


